<div style="width: fit-content;">
    <!-- @for(card of cards; track card.label){ -->

        <mat-card class="stat-card" appearence="outlined">
            <mat-card-header>
                        <mat-icon class = main_icon>{{card().main_icon}}</mat-icon>
                    <div class="trend" [ngClass]="card().isPositive ?'high' : 'low'">
                    <mat-icon class="icon">{{card().isPositive  ? "north_east" : "south_west"}}</mat-icon>
                    <span>{{card().isPositive ? "+" : "-"}}{{card().percentage}}%</span>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="label">{{card().label}}</p>
                  <h2 class="value">{{formatValue()}}</h2>
            </mat-card-content>
        </mat-card>
    <!-- } -->
</div>
