.dashboard-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
}

.grid-col {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

@media (min-width : 48rem) {
  .grid-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width : 64rem) {
  .grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.table-grid {
  display: grid;
  gap: 20px;
  /* grid-template-columns: 2fr 1fr; */
}
@media (min-width : 48rem) {
  .table-grid  {
    grid-template-columns: 1fr;
  }
}

@media (min-width : 64rem) {
  .table-grid {
    grid-template-columns: 2fr 1fr;
  }
}

h3 {
  /* .table-title { */
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  justify-self: anchor-center;
  /* } */
}
.dot{
  display: flex;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    left: 21px;
    top: 22px;
}
.green{
    background: #aaf6c6;
}
.blue{
  background: rgb(191, 191, 253);
}
.orange{
  background: rgb(249, 223, 173);
}
.red{
  background: rgb(250, 182, 182);
}