.dashboard-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
}

.grid-col {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

@media (min-width : 48rem) {
  .grid-col {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width : 64rem) {
  .grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.table-grid {
  display: grid;
  gap: 20px;
}
@media (min-width : 48rem) {
  .table-grid  {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width : 64rem) {
  .table-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

h3 {
  /* .table-title { */
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  justify-self: anchor-center;
  /* } */
}