<div class="dashboard-grid">
    <div class="grid-col">
        @for(item of stats;let i = $index; track item.label){
        <app-card [card]="item" [position]="i">
        </app-card>
        }
    </div>

    <div class="table-grid">
        <div style="border-radius: 10px;
    border: 2px solid #ccc;">
            <h3 class="table_title">Recent Sales</h3>
            <app-table [dataSource]="tableData"></app-table>
        </div>
        <div style="border-radius: 10px;
    border: 2px solid #ccc;">
     <h3 class="table_title">Activity Users</h3>
            <app-activity-table></app-activity-table>
        </div>
    </div>

</div>