<div class="dashboard-grid">
    <div class="grid-col">
        @for(item of stats;let i = $index; track item.label){
        <app-card [card]="item" [position]="i">
        </app-card>
        }
    </div>

    <div class="table-grid">
        <div style="border-radius: 10px;
    border: 2px solid #ccc;">
            <h3 class="table_title">Recent Sales</h3>
            <app-table [dataSource]="tableData"></app-table>
        </div>
        <div style="border-radius: 10px;
    border: 2px solid #ccc;">
     <h3 class="table_title">Recent Activity</h3>
     @for(item of activityList; track item.id){
        <span class="dot"
    [class.green] = "item.type == 'purchase'"
     [class.blue] = "item.type == 'signup'"
     [class.orange] = "item.type == 'update'"
     [class.red] = "item.type == 'refund'">.
</span>
         <app-activity-table [activity] = item></app-activity-table>

     }
        </div>
    </div>

</div>